@page "/"

<h1 class="text-center h-2 mb-3">Bienvenidos al Sistema De Encuesta </h1>
<p class="pt-5 text-xl-center" >
    Donde Podras Crear Una Encuesta Luego Podras Crear Una Serie De Preguntas <br />
    Responder a esas Preguntas
    <span class="oi oi-arrow-bottom " ></span>
    Crea Tu Usuario..
</p>
<hr />
<div class="container">
    <div class="row">
        <div class="col col-sm">
            <CreateUsersComponent/>
        </div>
    </div>
</div>



