@using Entity
@using Business

<h1 class="text-center h-2 mb-3 " > Crear Respuesta </h1>
<a href="answer/list" class="btn btn-success mb-3" >Listar Respuestas...</a>
<hr />
<EditForm Model="OAnswer">
    <div class="form-group">
        <label>Identificador De Categoria:</label>
        <InputText @bind-Value="OAnswer.CategoryId" class="form-control" />
    </div>
    <div class="form-group">
        <label>Identificador De Encuesta:</label>
        <InputText @bind-Value="OAnswer.SurveyId" class="form-control" />
    </div>
    <div class="form-group">
        <label>Identificador De Usuario:</label>
        <InputText @bind-Value="OAnswer.UserId" class="form-control" />
    </div>
    <div class="form-group">
        <label>Identificador Unico:</label>
        <InputText @bind-Value="OAnswer.IdAnswer" class="form-control" />
    </div>
    <div class="form-group">
        <label>Respuesta:</label>
        <InputText @bind-Value="OAnswer.GetAnswer" class="form-control" />
    </div>
    <input type="button" class="btn btn-success"  value="Registrar Respuesta..." @onclick="SaveAnswer" />
</EditForm>

@code {
    AnswerEntity OAnswer = new AnswerEntity();
    List<QuestionEntity> Questions = new List<QuestionEntity>();


    protected override async Task OnInitializedAsync()
    {
        Questions = B_Questions.QuestionsList();
    }

    private void SaveAnswer()
    {
        OAnswer.CreateAt = DateTime.Now;
        B_Answer.CreateAnswer(OAnswer);
    }
}
